/* ===== Base ===== */

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 2rem;
    background: #fdfcf8;
    color: #222;
    font-family: Futura, "Avenir Next", Avenir, sans-serif;
    line-height: 1.5;
}

/* ===== Headings ===== */

h1 {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.01em;
	text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #666;
    margin: 0;
}

h3 {
    font-size: 1.1rem;
    font-weight: 200;
    color: #666;
}

/* ===== Links ===== */

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* ===== Route 66 List ===== */

ol {
    padding-left: 2.5rem;
    margin: 0;
}

li {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
}

/* ===== Row Layout ===== */

.place {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    align-items: baseline;
}

/* ===== Name ===== */

.place-name {
    font-weight: 600;
}

/* ===== Address ===== */

.place-address {
    color: #666;
    font-size: 0.95rem;
}

/* ===== State Colors ===== */

li.IL { background: #ededf7; } /* cool faded blue */
li.MO { background: #efe8f6; } /* dusty lavender */
li.KS { background: #dfeeec; } /* pale prairie green */
li.OK { background: #f8eadf; } /* faded peach */
li.TX { background: #f6e3e3; } /* dusty rose */
li.NM { background: #f5e1c6; } /* warm adobe sand */
li.AZ { background: #e5d5c6; } /* desert clay */
li.CA { background: #e7f3e8; } /* coastal faded teal */

/* ===== Images ===== */
img {
	width: 100%;
}

/* ===== Mobile ===== */

@media (max-width: 700px) {

    body {
        padding: 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1rem;
    }
}
